.p-5 {
    padding-left: 30px;
}

.key {
    color: blue;
}

.value {
    color: rgb(165, 98, 11);
}

.code-block {
    background-color: rgba(100, 148, 237, 0.297);
    width: fit-content;
    padding: 3px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}