.p-5 {
    padding-left: 30px;
}

.key {
    color: blue;
}

.value {
    color: rgb(165, 98, 11);
}

.code-block {
    background-color: rgba(100, 148, 237, 0.297);
    width: fit-content;
    padding: 3px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.arvalue {
    font-size: 1.2rem;
    color: coral;
    /* font-family: 'Courier New', Courier, monospace; */
    padding-left: 20px;
}

.arr_item {
    font-size: 1.2rem;
    color: coral;
    /* font-family: 'Courier New', Courier, monospace; */
    padding: 0px 5px;
}

.arr_item::after {
    content: ",";
}

.arr_last_item.arr_item::after {
    content: "";
}

.data {
    font-size: 1.3rem;
    color: brown;
}

.data-output {
    font-size: 1.2rem;
    color: rgb(40, 40, 103);
}